{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=BIZ+UDPMincho:wght@400&display=swap" rel="stylesheet" crossorigin="anonymous" media="all">
    <link rel="stylesheet" href="{% static 'game/login.css' %}">
    <meta name="description" content="">
    <title>{% trans 'ログイン | リバーシWeb' %}
    </title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-48x48.png' %}">
    <link rel="manifest" href="{% url 'manifest' %}">
</head>
<body>
    <div class="login-wrapper">
    <h1>{% trans "ログインする" %}</h1>

    {% if form.errors %}
        <p class="error">{% trans "エラーを修正してください" %}</p>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "ログイン" %}</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <br>
    <div>
        <a href="{% url 'user_signup' %}" class="signup">{% trans "アカウント作成はこちら" %}</a>
    </div>
    </div>
</body>
</html>