{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=BIZ+UDPMincho:wght@400&display=swap" rel="stylesheet" crossorigin="anonymous" media="all">
    <link rel="stylesheet" href="{% static 'game/signup.css' %}">
    <title>{% trans 'アカウント作成 | リバーシWeb' %}</title>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/favicon-192x192.png' %}">
    <link rel="manifest" href="{{ request.scheme }}://{{ request.get_host }}{% static 'game/images/favicon/manifest.json' %}">
</head>
<body>
    <div class="signup-wrapper">
        <h1>{% trans 'アカウントを作成する' %}</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group {% if field.name == 'password1' %}with-gap{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.name == 'password1' %}
                        <div class="helptext">{{ field.help_text }}</div>
                    {% endif %}

                    {% for error in field.errors %}
                        <p class="errorlist">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <button id="signup-btn" type="submit">{% trans "作成" %}</button>
        </form>
        <br>
        <div >
            <a href="{% url 'user_login' %}" class="login">{% trans "ログインはこちら" %}</a>
        </div>
    </div>
    <script nonce="{{ request.csp_nonce }}">
        var script = document.createElement('script');
        script.src = "https://www.googletagmanager.com/gtag/js?id=G-4JKZC3VNE7";
        script.async = true;
        script.nonce = "{{ request.csp_nonce }}";
        document.head.appendChild(script);
        script.onload = function () {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-4JKZC3VNE7', { 'cookie_domain': 'auto' });
            document.getElementById('signup-btn').addEventListener('click', function() {
                gtag('event', 'signup', {
                    'event_category': 'engagement',
                    'event_label': 'signup_button_click',
                });
            });
        };
    </script>
</body>
</html>